<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice.mapper">

<!-- 해당 ID 의 공지 게시글 내용수정 -->
<update id="update">
	update notice set title = #{title}, content = #{content}
		, filename = #{filename, jdbcType=VARCHAR}
		, filepath = #{filepath, jdbcType=VARCHAR}
	where id = #{id}
</update>

<!-- 해당 id의 공지글삭제 요청 -->
<delete id="delete">
	delete from notice
	where id = #{id}
</delete>


<!-- 상세화면 조회 전 조회 수 증가 처리 -->
<update id="read">
	update notice set readcnt = readcnt + 1
	where id = #{id}
</update>


<!-- 공지사항 상세조회 처리 -->
<select id="detail" resultType="notice.NoticeVO">
	select notice.* , (select name from s_member where id = notice.writer ) name 
	from notice
	where id = #{id}
</select>


<!-- 공지사항 신규 글 등록 처리 -->
<insert id="insert">
	insert into notice (id , title , content , writer , filename , filepath)
	values ( seq_notice.nextval , #{title} , #{content} , #{writer} , #{filename , jdbcType=VARCHAR } , #{filepath , jdbcType=VARCHAR } )
</insert>


<!-- 공지사항 목록조회 -->
<select id="list" resultType="notice.NoticeVO">
	<!-- select * from notice -->
	select rownum no, n.*, (select name from s_member where id = n.writer ) name 
	from (select * from notice order by id) n
	order by no desc
</select>


</mapper>













